In [1]:
import sys
import os
import numpy as np
import pandas as pd
import gzip
from script import days_in_month, hours_in_day, leap_year
import time
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import date, timedelta
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
def daily_num_posts_by_country(path_1, prefix_1, path_2, prefix_2, year, month, day):
    """
    @param path_n: str, file path (directory) to df n
    @param prefix_n: str, file prefix, "geography" for geography files, "bert_sentiment" for sentiment files
    @param year: int, year
    @param month: int, month
    @param day: int, day
    
    returns: a df of size (1, num_countries) representing number of common posts by countries on this day
    """
    num_posts_common = 0
    day_path_1 = ''.join([path_1, prefix_1, "_", str(year), "_", str(month), "_", str(day).zfill(2)])
    day_path_2 = ''.join([path_2, prefix_2, "_", str(year), "_", str(month), "_", str(day).zfill(2)])
    num_posts_by_country = None
    for hour in hours_in_day():
        try:
            with gzip.open(''.join([day_path_1, "_", hour, ".csv.gz"])) as f:
                posts_1 = pd.read_csv(f, sep="\t")
        except FileNotFoundError:
            print(''.join([day_path_1, "_", hour, ".csv.gz"]), "does not exist.")
            continue
        except pd.errors.EmptyDataError:
            print(''.join([day_path_1, "_", hour, ".csv.gz"]), "is empty.")
            continue
        try:
            with gzip.open(''.join([day_path_2, "_", hour, ".csv.gz"])) as f:
                posts_2 = pd.read_csv(f, sep="\t")
        except FileNotFoundError:
            print(''.join([day_path_2, "_", hour, ".csv.gz"]), "does not exist.")
            continue
        except pd.errors.EmptyDataError:
            print(''.join([day_path_2, "_", hour, ".csv.gz"]), "is empty.")
            continue
        common_posts = pd.merge(posts_1, posts_2, on="message_id", how="inner")
        if num_posts_by_country is None:
            num_posts_by_country = common_posts.groupby(['NAME_0']).size().to_frame().transpose()
        else:
            num_posts_by_country_this_hour = common_posts.groupby(['NAME_0']).size().to_frame().transpose()
            num_posts_by_country = pd.concat([num_posts_by_country, num_posts_by_country_this_hour], join="outer", sort=True)
    return num_posts_by_country.fillna(0).sum(axis=0).astype(int)


geo_path = "/srv/data/twitter_geography/2015/"
sent_path = "/srv/data/twitter_sentiment/2015/"
daily_num_posts_by_country(geo_path, "geography", sent_path, "bert_sentiment", 2015, 12, 10)

Afghanistan              52
Albania                  29
Algeria                 322
American Samoa            3
Angola                   81
                       ...
Vietnam                 504
Virgin Islands, U.S.     52
Yemen                    77
Zambia                  161
Zimbabwe                 49
Length: 160, dtype: int64

In [59]:
a = daily_num_posts_by_country(geo_path, "geography", sent_path, "bert_sentiment", 2015, 12, 10)

In [43]:
b = pd.Series([2012, 12, 10], index=["year", "month", "day"])
b.append(a)

year                    2012
month                     12
day                       10
Afghanistan               52
Albania                   29
                        ...
Vietnam                  504
Virgin Islands, U.S.      52
Yemen                     77
Zambia                   161
Zimbabwe                  49
Length: 163, dtype: int64

In [4]:
def generate_daily_num_posts_df_year(year, geo_dir, sent_dir, out_dir):
    """
    @param year: int, year to generate the dataframe for
    @param geo_dir: directory under which the geography data files are stored
    @param sent_dir: directory under which the sentiment data files are stored
    @param out_dir: directory to which the dataframe will be stored as csv file
    
    Generates 
    1) a csv file which includes the number of geotagged posts, sentiment posts, common psets by day for the givern year;
    2) missing file, empty file, corrupt file reports 
    
    """
    geo_path = ''.join([geo_dir, str(year), "/"])
    sent_path = ''.join([sent_dir, str(year), "/"])
    data = []
    for month in range(1, 13):
        for day in range(1, days_in_month(month, year) + 1):
            data.append(pd.Series([year, month, day], index=["year", "month", "day"]).append(daily_num_posts_by_country(geo_path, "geography", sent_path, "bert_sentiment", year, month, day)))
    df = pd.DataFrame(data=data).fillna(0).astype(int)
    df = pd.melt(df, id_vars = ["year", "month", "day"], value_vars=df.drop(columns=["year", "month", "day"]).columns.tolist())
    df = df.rename(columns={"variable": "country", "value": "num_posts"})
    df.to_csv(''.join([out_dir, "num_posts_summary_by_country_", str(year), ".csv"]))

In [8]:
geo_dir = "/srv/data/twitter_geography/"
sent_dir = "/srv/data/twitter_sentiment/"
out_dir = "../output/"

year = 2012

geo_path = ''.join([geo_dir, str(year), "/"])
sent_path = ''.join([sent_dir, str(year), "/"])
data = []
for month in range(1, 2):
    for day in range(1, 6):
        print(str(day))
        data.append(pd.Series([year, month, day], index=["year", "month", "day"]).append(daily_num_posts_by_country(geo_path, "geography", sent_path, "bert_sentiment", year, month, day)))
df = pd.DataFrame(data=data).fillna(0).astype(int)
df = pd.melt(df, id_vars = ["year", "month", "day"], value_vars=df.drop(columns=["year", "month", "day"]).columns.tolist())
df = df.rename(columns={"variable": "country", "value": "num_posts"})
df.to_csv(''.join([out_dir, "num_posts_summary_by_country_", str(year), ".csv"]))
df

1
2
3
4
5

     year  month  day     country  num_posts
0    2012      1    1     Algeria          1
1    2012      1    2     Algeria          0
2    2012      1    3     Algeria          1
3    2012      1    4     Algeria          0
4    2012      1    5     Algeria          1
..    ...    ...  ...         ...        ...
630  2012      1    1  Mauritania          0
631  2012      1    2  Mauritania          0
632  2012      1    3  Mauritania          0
633  2012      1    4  Mauritania          0
634  2012      1    5  Mauritania          1

[635 rows x 5 columns]

In [9]:
df[df["country"]=="United States"]

     year  month  day        country  num_posts
450  2012      1    1  United States       5623
451  2012      1    2  United States       9346
452  2012      1    3  United States       9478
453  2012      1    4  United States       8253
454  2012      1    5  United States       8335