In [9]:
import pandas as pd

In [2]:
df = pyreadr.read_r('../data/01_origin/2019-07-15.Rdata', use_objects='tweets')['tweets']

In [7]:
df = df['tweets']

In [8]:
df.shape

(4002605, 24)

In [14]:
df = pd.read_csv('/Users/nico/dropbox/data_lake/twitter/processed/text_201101.csv', nrows=10, skiprows=range(1, 10))

In [15]:
df

            tweet_id lang        tweet_text
0  28087648102912000  NaN  67fe18ec00000000
1  27783141426995200  NaN  ae7a18ec00000000
2  28011666499174400   en  f9b8bd7aa0000000
3  26727149167714304  NaN  a267e8ec00000000
4  29847518711906304  NaN  f4b15e06a0000000
5  30056290201903104  NaN  68392b02a0000000
6  29624805892292608  NaN  59ee1206a0000000
7  26331396033220608  NaN  411364baa0000000
8  28158883537100800   en  d0c7277aa0000000
9  28313657754517504  NaN  fabd08faa0000000